footer {
	a {
		color: white;
		&:hover {
			color: white;
		}
	}

	ul {
		padding: 3em;
	}

	li {
		display: inline-block;
		margin-right: 1em;

	}
	clear: both;
	background-color: $dark-gray;
	width: 100%;
	height: 10em;
	color: white;
}