//GENERAL
$dark: #161617;
$gray: #222;
$light-gray: #f2f2f2;


//NAVIGATION
$nav-text: $dark;
$nav-white: rgba(255,255,255, 0.6);
$nav-mobile: rgba(25,25,25, 0.95);
$nav-hover:  linear-gradient(330deg, #5198ca 0%, #6b6ed8 25%, #3db1c1 50%, #9952e0 75%, #e05252 100%);
		

//COLLECTIV
$collectiv: #21b8ed;
