.wrap {
	@include outer-container;
	@include media(max-width $l) {
		padding-left: 50px;
		padding-right: 50px;
	}
}
.row { @include row; }

section {
    padding-top: 90px;
    padding-bottom: 90px;
    &:nth-child(odd) {
    	background-color: $light-gray;
    }
}
