///////////////////////////////////////////////////////////////////////////
//  BUTTONS
///////////////////////////////////////////////////////////////////////////
@mixin outline-button($color: true, $columns: 6, $padding: 0.7em){
	padding: $padding;
	text-align: center;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	transition: all 1s ease-in-out;
	@include span-columns($columns);

	@if $color == true {
		outline: 1px solid $dark;
		background-color: transparent;
	
		&:hover {
			color: white;
			background-color: $dark;
		}
	} @else  {
		outline: 1px solid white;
		background-color: transparent;

		&:hover {
			color: $dark;
			background-color: white;
		}	
	}
}

@mixin fill-button($color: true, $columns: 6, $padding: 0.7em){
	padding: $padding;
	text-align: center;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	transition: all 1s ease-in-out;
	@include span-columns($columns);

	@if $color == true {
		background-color: $dark;
		color: white;

		&:hover {
			color: $dark;
			background-color: transparent;
			outline: 1px solid $dark;
		}
	} @else  {
		background-color: white;
		color: $dark;

		&:hover {
			color: $dark;
			background-color: transparent;
			outline: 1px solid white;
		}	
	}
}
///////////////////////////////////////////////////////////////////////////
//  COMPONENTS
///////////////////////////////////////////////////////////////////////////
button {
	@include fill-button(true, 10, 0.7em);
}

///////////////////////////////////////////////////////////////////////////
//  COLOR
///////////////////////////////////////////////////////////////////////////
.white-text {
	color: white;
}
///////////////////////////////////////////////////////////////////////////
//  GRID
///////////////////////////////////////////////////////////////////////////

.grid {
	margin: 3em;
	@include outer-container;
}
.grid-item {
	margin: 0.5em 0;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: all 1s ease-in-out;
	
	background-color: transparent;
	color: $dark;	

	p {
		padding: 2em;
		outline: 1px solid $dark;
	}
	img {
		display: inline-block;
	}
}

.aqua {
	background-color: aqua;
}

///////////////////////////////////////////////////////////////////////////
//  FORMS
///////////////////////////////////////////////////////////////////////////

input {
	&:focus {
			outline: 1px solid $dark;
	}
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-width: 0;
}

#bold-move {
	width: 300px;
	

	@include media($small-screen-up) {
		position: absolute;
		bottom: 10vh;
		left: 50%;
		margin-left: -150px;
	}

	@include media($small-screen-down) {
		display: none;
	}



}

.button-heading {
	text-align: center;
	@include omega();
	margin-bottom: 1em;
	a {
		color: $dark;
	}
}

.button-img {
	@include fill-button(true, 8, 0.7em);
	@include shift(4);
	@include omega();
}

.button-black {
	@include fill-button(true, 3, 0.7em);
	margin-top: 2em;
	@include shift(6.33);
}

.button-white {
	@include fill-button(false, 3, 0.7em);
	margin-top: 2em;
	@include shift(6.33);

	@include media($medium-screen-down) {
		@include span-columns(8);
		@include shift(4);
	}

}

.sign-up-landing {

	

	#feedback {
		max-width: 240px;
		height: 50px;
		text-align: center;

	

	}

	input::-webkit-input-placeholder {
   		color: white;
   		text-align: center;
   		font-weight: 200;
	}

	input:-moz-placeholder { /* Firefox 18- */
	   color: white;
	   text-align: center;
	   font-weight: 200;  
	}

	input::-moz-placeholder {  /* Firefox 19+ */
	   color: white; 
	   text-align: center;
	   font-weight: 200; 
	}

	input:-ms-input-placeholder {  
	   color: white;
	   text-align: center;
	   font-weight: 200;  
	}

	@include media($medium-screen-down) {
		
		text-align: center;

		h2 {
			margin-bottom: -4em;
		}

		p {
			margin-bottom: 4em;

			.error {
				margin-bottom: -4em;
			}
		}

		.error p {
			margin-top: -7em !important;
		}

		input {
			@include shift(1);
			height: 70px;
			margin-bottom: 1em;
			color: white;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			background-color: $dark;
			font-size: 1em;
			@include span-columns(14);
			padding: 2em;

			&:focus {
				outline: 1px solid $dark;
			}
		}

		input[type="submit"] { 
	    	@include outline-button();
	    	color: $dark;
	    	@include span-columns(14);
	    	height: 60px;

	    	&:hover {
	    		outline: none;
	    	}
		}
	}

	@include media($large-screen-down) {
		
		//background-color: aqua;
		text-align: center;

		h2 {
			margin-bottom: -4em;
		}

		p {
			@include span-columns(12);
			@include shift(2);

			&:last-child {
				margin-top: 6em;
				font-size: 0.95em;
			}
		}

		.error p {
			margin-top: -4em !important;
			margin-bottom: 10em;
		}

		input {
			
			height: 70px;
			color: white;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			background-color: $dark;
			font-size: 1em;
			@include span-columns(12);
			@include shift(2);
			margin-bottom: 1em;
			padding: 2em;

			&:first-child {
				margin-top: 0.5em;
			}

			&:focus {
				outline: 1px solid $dark;
			}
		}

		input[type="submit"] { 
	    	@include outline-button();
	    	color: $dark;
	    	height: 60px;
			@include span-columns(12);
			@include shift(2);

	    	&:hover {
	    		outline: none;
	    	}
		}
	}//.medium-screen



	@include media($large-screen-up) {
		
		//background-color: aqua;
		text-align: center;

		h2 {
			margin-bottom: -4em;
		}

		p {
			@include span-columns(12);
			@include shift(2);

			&:last-child {
				margin-top: 6em;
				font-size: 0.95em;
			}
		}

		.error p {
			margin-top: -4em !important;
		}

		input {
			
			height: 70px;
			color: white;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			background-color: $dark;
			font-size: 1em;
			@include span-columns(12);
			@include shift(2);
			margin-bottom: 1em;
			padding: 2em;

			&:first-child {
				margin-top: 0.5em;
			}

			&:focus {
				outline: 1px solid $dark;
			}
		}

		input[type="submit"] { 
	    	@include outline-button();
	    	color: $dark;
	    	height: 60px;
			@include span-columns(12);
			@include shift(2);

	    	&:hover {
	    		outline: none;
	    	}
		}
	}//.large-screen-up

	input::-webkit-input-placeholder {
   		color: white;
   		text-align: center;
   		font-weight: 200;
	}

	input:-moz-placeholder { /* Firefox 18- */
	   color: white;
	   text-align: center;
	   font-weight: 200;  
	}

	input::-moz-placeholder {  /* Firefox 19+ */
	   color: white; 
	   text-align: center;
	   font-weight: 200; 
	}

	input:-ms-input-placeholder {  
	   color: white;
	   text-align: center;
	   font-weight: 200;  
	}
}//.sign-up-landing


.sign-up {
	@include media($medium-screen-down) {
		input { 
			@include fill-parent;
			color: white;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			background-color: $dark;
			font-size: 1em;

			&:first-child {
				margin-top: 2em ;
			}

			&:last-child {
				margin-bottom: 2em;
			}
		}
	}
	@include media($medium-screen-up) {

		input {

			height: 70px;
			color: white;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			background-color: $dark;
			font-size: 1em;
			@include span-columns(4.85);

			margin-top: 0.11em;
			margin-left: 0.3em;

			&:focus {
				outline: 1px solid $dark;
			}
		}

		input[type="submit"] { 
	    	@include outline-button();
	    	color: $dark;
	    	@include span-columns(4.8);
	    	margin-left: 0.5em;
	    	height: 60px;

	    	&:hover {
	    		outline: none;
	    	}
		}
	}

	input::-webkit-input-placeholder {
   		color: white;
   		text-align: center;
   		font-weight: 200;
	}

	input:-moz-placeholder { /* Firefox 18- */
	   color: white;
	   text-align: center;
	   font-weight: 200;  
	}

	input::-moz-placeholder {  /* Firefox 19+ */
	   color: white; 
	   text-align: center;
	   font-weight: 200; 
	}

	input:-ms-input-placeholder {  
	   color: white;
	   text-align: center;
	   font-weight: 200;  
	}

}



.exit-button {

	position: absolute;
	top: 1em;
	right: 1em;
	$exit-width: 35px;
	$exit-height: 1px;

	width: $exit-width;
	height: $exit-width;

	.exit {
	  display: inline-block;
	  width: $exit-width;
	  height: $exit-height;
	  background: #000;
	  position: relative;
	  transition: all ease 0.3s;
	  top: -8px;
	  vertical-align: bottom;
	  cursor: pointer;
	  transform: translateY(1px) rotateZ(-45deg);
	}
}



.gray-bg-column {
	background-color: $light-gray;
	padding: 2em;
	min-height: 40em;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;

	button {
		position: absolute;
		bottom: 3em;
		left: 0;

	}

	@include media($small-screen-down) {
		min-height: 44em;
	}

}